@model Models.Model.Company

@{
    ViewData["Title"] = "DetailsCompany";
}

<h1>Company Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CatchPhrase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CatchPhrase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bs)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="GetUsers" asp-controller="User">Back to List</a>
</div>
