@page "/Comment"

@using Services.Services;
@using Models.Model;

@inject InterfaceServiceComments _context;

   <style type="text/css"> 
   .transformacion { text-transform: capitalize;}   
   </style> 

<h3>Comentarios</h3>

<p>
    <label for="Name">**El campo vacío retorna la lista completa de comentarios**</label>
    <input @bind-value="id" placeholder="IdPost"/>
</p>
<div class="form-group">
    <input type="submit" value="Filtrar" class="btn btn-primary" @onclick="()=>GetCoincidence(id)"/>
</div>

@if (commentCoincidence==null || commentCoincidence.Count==0 || commentCoincidence.Count== listComment.Count)
{
   <h3>Lista de Comentarios</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>PostId</th>
                <th>Name</th>
                <th>Email</th>
                <th>Body</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var comentario in listComment)
            {
                <tr>
                    <td>@comentario.Id</td>
                    <td>@comentario.PostId</td>
                    <td>@comentario.Name</td>
                    <td>@comentario.Email</td>
                    <td><p class="transformacion">@comentario.Body</p></td>
                </tr>
            }
        </tbody>
    </table>
    <hr /> 
}
else
{
    <div>
        <h3>Coincidencia</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>PostId</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Body</th>
                </tr>
        </thead>
    <tbody>
        
        @foreach(var comentario in commentCoincidence)
        {
            <tr>
                <td>@comentario.Id</td>
                <td>@comentario.PostId</td>
                <td>@comentario.Name</td>
                <td>@comentario.Email</td>
                <td><p class="transformacion">@comentario.Body</p></td>
            </tr>
        }
    </tbody>
</table>
 <hr /> 
 </div>

}

@code {
    private List<Comment> listComment;
    private List<Comment> commentCoincidence;
    private int id;

    protected override async Task OnInitializedAsync()
    {
        listComment = await _context.GetListComments();
    }

    private async Task GetCoincidence(int idPost)
    {
        commentCoincidence = listComment.FindAll(x=>x.PostId==idPost);
    }
}
