@page "/Posts"

@using Services.Services;
@using Models.Model;

@inject InterfaceServicePosts _context;

<h2>Posts Realizados</h2>

<p>
    <label for="Name">**No se permite comenzar la cadena con espacios en blanco**</label>
    <br/>
    <label for="Name">**El campo en blanco retorna la lista completa**</label>
    <input @bind-value="text" placeholder="Ingrese texto"/>
</p>
<div class="form-group">
    <input type="submit" value="Filtrar" class="btn btn-primary" @onclick="()=>GetCoincidence(text)"/>
</div>

@if (postCoincidencias==null || postCoincidencias.Count==0 || postCoincidencias.Count==posts.Count)
{
   <h3>Lista de Posts</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id Usuario</th>
                <th>Title</th>
                <th>Body</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var post in posts)
            {
                <tr>
                    <td>@post.Id</td>
                    <td>@post.UserId</td>
                    <td>@post.Title</td>
                    <td>@post.Body</td>
                </tr>
            }
        </tbody>
    </table>
    <hr /> 
}
else
{
    <div>
        <h3>Coincidencias</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Id Usuario</th>
                    <th>Title</th>
                    <th>Body</th>
                </tr>
        </thead>
    <tbody>
        @foreach(var post in postCoincidencias)
        {
            <tr>
                <td>@post.Id</td>
                <td>@post.UserId</td>
                <td>@post.Title</td>
                <td>@post.Body</td>
            </tr>
        }
    </tbody>
</table>
 <hr /> 
 </div>

}


@code {
    private List<Post> posts;
    private List<Post> postCoincidencias;
    private string text;
    protected override async Task OnInitializedAsync()
    {
        posts = await _context.GetListPosts();
    }

    private async Task GetCoincidence(string text)
    {
        if (text.StartsWith(" "))
        {
            postCoincidencias = posts;
        }
        else
        {
            postCoincidencias = posts.FindAll(x=>x.Title.Contains(text) || x.Body.Contains(text));
        }
    }
}
