@page "/User"

@using Services.Services
@using Models.Model

@inject InterfaceServicesUser _context

<h2>Lista de Usuario en Blazor</h2>


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>UserName</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Website</th>
        </tr>
   </thead>
    <tbody>
        @foreach(var user in users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.Phone</td>
                <td>@user.Website</td>
                <td><NavLink @onclick="()=>Details(user.Id)"><span class="oi oi-home" aria-hidden="true"></span> Mas detalles</NavLink></td>
            </tr>
        }
    </tbody>
</table>
 <hr />   
@if (address is null)
{
    <p>Presione mas detalles para desplegar información adicional</p>
}
else
{
<div>
    <h3>Address Details</h3>
<hr />
    <dl class="row">
        <dt class = "col-sm-2">Street: </dt>
        <dd class = "col-sm-10">
            @address.Street
        </dd>
        <dt class = "col-sm-2">Suite: </dt>
        <dd class = "col-sm-10">
            @address.Suite
        </dd>
        <dt class = "col-sm-2">City: </dt>
        <dd class = "col-sm-10">
            @address.City
        </dd>
        <dt class = "col-sm-2">ZipCode: </dt>
        <dd class = "col-sm-10">
            @address.ZipCode
        </dd>
    </dl>
</div>  

<div>
    <h3>Details of Geo</h3>
    <hr />
    <dl>
        <dt class = "col-sm-2">Lat: </dt>
        <dd class = "col-sm-10">
            @geo.Lat
        </dd>
        <dt class = "col-sm-2">Lng: </dt>
        <dd class = "col-sm-10">
            @geo.lng
        </dd>
    </dl>
</div>

<div>
    <h3>Company Details</h3>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Name: </dt>
        <dd class = "col-sm-10">
            @company.Name
        </dd>
        <dt class = "col-sm-2">CatchPhrase: </dt>
        <dd class = "col-sm-10">
            @company.CatchPhrase
        </dd>
        <dt class = "col-sm-2">Bs: </dt>
        <dd class = "col-sm-10">
            @company.Bs
        </dd>
    </dl>
</div>

}


@code {
    private List<User> users;
    private Address address;
    private Geo geo;
    private Company company;

    protected override async Task OnInitializedAsync()
    {
        users = await _context.GetListUser();   
    }

    private async Task Details(int id)
    {
        User usuarioAux = users.Find(x=>x.Id==id);
        address = usuarioAux.Address;
        geo = address.Geo;
        company = usuarioAux.Company;
    }
}
